.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table .custom-cell {
  padding: 8px;
  text-align: left;
  min-width: clamp(100px, 12vw, 160px);
}

.custom-table th {
  background-color: steelblue;
  color: white;
}