.gameTippingCursor {
	cursor: pointer;
	font-weight: normal;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table .custom-cell {
  padding: 8px;
  text-align: center;

  min-width: clamp(100px, 12vw, 160px);
}

.game-details-div {
  display: grid;
  grid-template-columns: 200px 500px 200px;
  gap: 16px;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
}

.game-details-text-header {
  padding-top: 3px;
  font-weight: bold;
  text-decoration: underline;
}
