.gameTippingCursor {
	cursor: pointer;
	font-weight: normal;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table .custom-row {
  border: 1px solid #ccc;
}

.custom-table .custom-cell {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}