.gameTippingCursor {
	cursor: pointer;
	font-weight: normal;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table .custom-cell {
  padding: 8px;
  text-align: center;

  min-width: clamp(100px, 12vw, 160px);
}

.game-details-div {
  display: grid;
  grid-template-columns: 200px 500px 200px;
  gap: 16px;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
}

.game-details-text-header {
  padding-top: 3px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.state-button {
  border-radius: 5px;
  border: 1px;
  border-color: black;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.qld-button {
  background-color: firebrick;
}

.nsw-button {
  background-color: skyblue;
}

.vic-button {
  background-color: #6495ED;
}

.wa-button {
  background-color: gold;
}

.unknown-state {
  background-color: var(--ammgreen);
}